<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center"><h1 class="display-3">Your Cart</h1></div>
        <br/>
        <div class="list-group">
          <div class="list-group-item" *ngFor="let cart of cartData">
            <button type="button" class="btn btn-default btn-lg" (click)="removeFromCart(cart.id, cart.title)">X</button>
            <div class="media col-3">
              <figure class="pull-left">
                <a href="#">
                  <img
                    class="card-image-top img-fluid img-thumbnail"
                    onerror="this.src='https://i.ytimg.com/vi/BqJyluskTfM/maxresdefault.jpg';"
                    src="{{cart.thumbnail}}"></a>
              </figure>
            </div>
            <div class="col-md-6 right">
              <a href="#"><h4 class="list-group-item-heading"> {{cart.title}} </h4></a>
              <p class="list-group-item-text"> {{cart.description}}
              </p>
            </div>
            <div class="col-md-2 text-center mr-auto">
              <h2> {{cart.price}} &euro; </h2>
            </div>
          </div>
        </div>
        <br/>
        <div class="col-8 offset-2 my-3 text-center">
          <h1><strong>Total Price - </strong> {{totalSum | number: '1.2-2'}} &euro;</h1>
        </div>
        <div class="col-8 offset-2 my-3">
          <div>
            <button type="button" class="btn btn-success btn-lg btn-block" name="order" href="#" (click)="makeOrder()">Order</button>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
</main>
