<main class="col-4 offset-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="text-center"><h1 class="display-3">Register</h1></div>
        <br/>
        <form (ngSubmit)="register()" #loginForm="ngForm" method="post">

          <div class="form-group row">
            <label for="fullName" class="sr-only">First and last name</label>
            <input
              id="fullName"
              pattern="^([A-Z]+[a-z]+ [A-Z]+[a-z]+)$"
              name="fullName"
              placeholder="first and last name"
              class="form-control"
              [(ngModel)]="model.fullName"
              [ngModelOptions]="{standalone: true}"
              #fullName="ngModel"
            />
          </div>
          <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger">
            Incorrect first and last name.
          </div>

          <div class="form-group row">
            <label for="email" class="sr-only">Email</label>
            <input
              id="email"
              type="email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              class="form-control"
              name="email"
              placeholder="email"
              [(ngModel)]="model.email"
              [ngModelOptions]="{standalone: true}"
              #email="ngModel"
              />
          </div>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Incorrect email address.
          </div>

          <div class="form-group row">
            <label for="username" class="sr-only">Username</label>
            <input
              id="username"
              pattern="^[a-zA-Z0-9]+$"
              name="username"
              placeholder="username"
              class="form-control"
              [(ngModel)]="model.username"
              [ngModelOptions]="{standalone: true}"
              #username="ngModel"
            />
          </div>
          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            Incorrect username.
          </div>

          <div class="form-group row">
            <label for="password" class="sr-only">Password</label>
            <input
              id="password"
              type="password"
              pattern="^[A-Za-z0-9]{3,}$"
              name="password"
              class="form-control"
              placeholder="password"
              [(ngModel)]="model.password"
              [ngModelOptions]="{standalone: true}"
              #password="ngModel"
              />
          </div>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password can't be less than 3 symbols long and can only contains letters and digits.
          </div>

          <div class="form-group row">
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
            <input
              id="confirmPassword"
              type="password"
              pattern="^[A-Za-z0-9]{3,}$"
              name="confirmPassword"
              class="form-control"
              placeholder="confirm password"
              [(ngModel)]="model.confirmPassword"
              [ngModelOptions]="{standalone: true}"
              #confirmPassword="ngModel"
              />
          </div>
          <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
            Password can't be less than 3 symbols long and can only contains letters and digits.
          </div>

          <input type="submit" class="btn btn-outline-warning btn-lg btn-block" value="Register"/>
        </form>
        <br/>
      </div>
    </div>
  </div>
</main>
