<main>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <h1 class="display-3">{{game.title}}</h1>
        <br/>

        <iframe width="560" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl("https://www.youtube.com/embed/" + game.video)' frameborder="0"
                allowfullscreen></iframe>

        <br/>
        <br/>

        <p>{{game.description}}</p>

        <p><strong>Price</strong> - {{game.price}} &euro;</p>
        <p><strong>Size</strong> - {{game.size}} GB</p>
        <p><strong>Release Date</strong> - {{game.date}}</p>

        <a class="btn btn-success" href="{{prevUrl}}">Back</a>
        <a class="btn btn-warning" href="/game/{{currGameId}}" *ngIf="admin">Edit</a>
        <a class="btn btn-danger" href="/delete/{{currGameId}}" *ngIf="admin">Delete</a>
        <a class="btn btn-primary" href="#">Buy</a>

        <br/>
        <br/>

      </div>
    </div>
  </div>
</main>
